.home-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    background-image: url("../../assets/Logo-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.login{
    
    width: 400px;
    height: 400px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:#a7ffcdb2;
    border: 2px solid #2e8b57;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(46, 139, 86, 0.626);
}